<head>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
        
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script> 
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],  processClass: 'latex'}});</script>

</head>

<body>
  <div class="latex" id="content">
  \(3+2\) = $4$ \mathskell{123} \mathskell{456}
  </div>
  <button type="button" onclick="loadDoc()">Change Content</button>
</body>

<script src="http://localhost:3000/MatJSkell/MatJSkell.js?i=3" type="text/javascript"></script> 
<script type="text/javascript">MatHSkell.className = "latex";</script> 